<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wmscentralapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autoFocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMSCentralApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".InventoryTransactionScreens.ChangeLocationActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryTransactionScreens.InventoryCountListActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryTransactionScreens.AlphaScanViewActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryTransactionScreens.ItemsScanViewActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryTransactionScreens.InventoryTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".PoRecevingScreens.PoShippingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PoRecevingScreens.PoRecevingReviewItemsActivity"
            android:exported="false" />
        <activity
            android:name=".PoRecevingScreens.PoScanNumberActivity"
            android:exported="false" />
        <activity
            android:name=".PoRecevingScreens.RecevingOrderNoActivity"
            android:exported="false" />
        <activity
            android:name=".PoRecevingScreens.PoRecevingListActivity"
            android:exported="false" />
        <activity
            android:name=".Clp.ReceiveContainerActivity"
            android:exported="false" />
        <activity
            android:name=".PickBatchScreens.BatchesActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.BoxHeaderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.ReviewBoxesActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackReviewBoxDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.ReviewItemsBoxActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackAttachItemActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.ManualSubstitutionActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.ManualReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.ManualTransferActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.ManualIssueActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.PickingDetailReviewActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.PickingMoreDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.PickingItemAvailableActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.SuggestedItemActivity"
            android:exported="false" />
        <activity
            android:name=".PickingItemScreens.PickingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.PickReviewActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.PickingItemActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackingAvailableItemActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackAddBoxActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackPickingActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PackOrderScanActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.PickingOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.PickOderItemActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.ScanViewActivity"
            android:exported="false" />
        <activity
            android:name=".PackOderScreens.PickingItem.PickedItemActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>